@* _TabContentPartial.cshtml *@
<div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
    <div class="">
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="post clearfix">
                    <div class="box-body">
                        <div class="form-group input-group">
                            <!-- Client ID input group -->
                            <label>* Client ID</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text px-2"><i class="fa fa-id-card"></i></span>
                                <input type="text" class="form-control" placeholder="* Client ID" />
                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>

                            <!-- YouTube Video input group -->
                            <label>* YouTube Video</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text px-2"><i class="fa fa-youtube"></i></span>
                                <input type="text" class="form-control" placeholder="* YouTube Video" />
                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-play"></i></button>
                            </div>

                            <!-- Video Duration selection -->
                            <label>Video Duration</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa fa-clock"></i></span>
                                <select class="form-select">
                                    <option selected>Video Duration</option>
                                    <option value="1">2 min</option>
                                    <option value="2">5 min</option>
                                    <option value="3">15 min</option>
                                    <option value="4">30 min</option>
                                </select>
                            </div>

                            <!-- Service Duration selection -->
                            <label>* Service Duration</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa fa-building"></i></span>
                                <select class="form-select">
                                    <option selected>* Service Duration</option>
                                    <option value="1">Monthly</option>
                                    <option value="2">Bimonthly</option>
                                    <option value="3">Semestral</option>
                                    <option value="4">Annual</option>
                                </select>
                            </div>

                            <!-- Start Date, Cut-off Date, Commercial Size inputs using partial views -->
                            <label>Start Date</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-calendar-alt", "Start Date", "disabled", false))
                            <label>Cut-off Date</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-calendar-day", "Cut-off Date", "disabled", false))
                            <label>Commercial Size</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-ruler-combined", "Commercial Size", "disabled", false))
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="post clearfix">
                    <div class="box-body">
                        <div class="form-group input-group">
                            <!-- Payment Method selection -->
                            <label>Payment Method</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                <select class="form-select">
                                    <option selected>* Payment Method</option>
                                    <option value="1">Cash</option>
                                    <option value="2">Electronic Payment</option>
                                </select>
                            </div>

                            <!-- Various cost inputs using partial views -->
                            <label>Registration Cost</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-money-bill", "Registration Cost", "disabled", false))
                            <label>Image Cost</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-image", "Image Cost", "disabled", false))
                            <label>Video Cost</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-video", "Video Cost", "disabled", false))
                            <label>VAT</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-percentage", "VAT", "disabled", false))
                            <label>Total Cost</label>
                            @await Html.PartialAsync("_InputGroupPartial", Tuple.Create("fa-calculator", "Total Cost", "disabled", false))
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Placeholder for future content -->
                <div class="post clearfix">
                    <div class="box-body">
                        <!-- Content to be added later -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons for Clean, Cancel, and Register actions -->
        <div class="row mt-3 mb-5">
            <div class="col-4 text-center mb-2">
                <button type="button" class="btn btn-warning">Clean</button>
            </div>
            <div class="col-4 text-center mb-2">
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
            <div class="col-4 text-center mb-2">
                <button type="button" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
</div>
