<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
    <!-- Information tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Information</button>
    </li>

    <!-- Static images tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="picstatic-tab" data-bs-toggle="tab" data-bs-target="#picstatic-tab-pane" type="button" role="tab" aria-controls="picstatic-tab-pane" aria-selected="false">Static images</button>
    </li>

    <!-- Dynamic images tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="picdinamic-tab" data-bs-toggle="tab" data-bs-target="#picdinamic-tab-pane" type="button" role="tab" aria-controls="picdinamic-tab-pane" aria-selected="false">Dynamic images</button>
    </li>

    <!-- Cost per registration tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Cost per registration</button>
    </li>
</ul>
